<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />
  <title><%= page_title %></title>
  <%= page_description %>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'application' %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= yield_content :head %>
  <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="<%= page_classes %>">
  <div class="container">
    <header>
      <%= link_to_if(!current?("home"),image_tag(lorem.image('150x75', :text => ' ')), "/") %>
      <%= partial "layouts/shared/header-nav" %>
      <%= partial "layouts/shared/primary-nav" %>
    </header>

    <%= yield :layout %>

    <footer>
      <hr>
      <%= partial "layouts/shared/footer-nav" %>
      <p class="text-footer">&copy;<%= Date.today.year %>. <%= project_setting(:title) %>. All rights reserved.</p>
      <p class="text-footer">Powered by <%= link_to "Ethos", "https://github.com/timknight/middleman-ethos" %></p>
    </footer>
  </div>

  <%= javascript_include_tag 'application' %>
  <%= yield_content :bottom %>
</body>
</html>